# version: '3.8'

services:
  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"

    environment:
      KAFKA_KRAFT_MODE: 'true'

      CLUSTER_ID: '1L6g7nGhU-eAKfL--X25wo'
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs 

    volumes:
      - kafka_data:/var/lib/kafka/data 
    networks:
      - backend

  mongodb:
    image: mongo
    volumes:
      - mongodb_data:/var/lib/mongodb
    ports:
      - '27017:27017' 
    networks:
      - backend

  redis:
    image: redis:latest
    restart: unless-stopped
    container_name: "redis"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/var/lib/redis
    # command: redis-server --requirepass ${REDIS_DEFAULT_PASS} 
    env_file:
      - .env 
    networks:
      - backend
  app:
    depends_on:
      - redis
      - mongodb
    build:
      context: ./app
      dockerfile: ./Dockerfile
    container_name: "app"
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app 
    networks:
      - backend
  kitchen_worker:
    depends_on:
      - redis
      - mongodb
      - kafka
    build:
      context: ./consumer_worker/
      dockerfile: ./Dockerfile
    container_name: "consumer_worker"
    restart: unless-stopped
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_CLIENT_ID=kitchen_worker
      - KAFKA_GROUP_ID=pizza-orders
    volumes:
      - ./:/app 
    networks:
      - backend
  text_worker:
    depends_on:
      - redis
      - mongodb 
      - kafka
    build:
      context: ./consumer_text/
      dockerfile: ./Dockerfile
    container_name: "consumer_text"
    restart: unless-stopped
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_CLIENT_ID=text_worker
      - KAFKA_GROUP_ID=pizza-orders
    volumes:
      - ./:/app 
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  mongodb_data:
    driver: local
  kafka_data:
    driver: local
  redis_data:
    driver: local



